
		
			<form class="uk-form-stacked" id="checkboxes">
			    
			     <%   for (var property in excounts) { %>
			    <% if (excounts.hasOwnProperty(property)) { %>
			        <h2><%=property %></h2>
			       
			        <% excounts[property].result.forEach(function(e){ %>
			        	<% var generatedID = property + "XXX" + e._id; %>
			        	<%   var genID = generatedID.replace(/[^A-Z0-9äöüÄÖÜß]+/ig, "_"); %>
			        	
						<input class="uk-checkbox" type="checkbox" id="<%=genID%>" value="<%=e._id%>" name=<%=property%>> <%= e._id %> <span class="uk-text-bold" id="count">(<%= e.count %>)</span><br />
			       
			       <% }) %>


			       


			    
			    <% } %>
			<% } %>
			 <input type="submit" value="Submit">  	    
			</form>
		
	

	</div>
</div>
