<head>
<link rel="stylesheet" href="app.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/css/uikit.css" integrity="sha256-+pehdJ4wZHKrQtcJ+YyS28JW10O7ncXrEmByo7HAxFg=" crossorigin="anonymous" />
</head>
<title>Realtime is the shit</title>
<body>
	
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="form.js"></script>
<div class="uk-container">
<h1 class="uk-heading-primary">Dynamic search form</h1>
<input name="dings" type="text">	
	<div class="uk-flex uk-flex-left">
		<div class="form">
			<form class="uk-form-stacked" id="checkboxes" action="/api/exercises/query" method="GET" onsubmit="return false">
			    
			     <%   for (var property in excounts) { %>
			    <% if (excounts.hasOwnProperty(property)) { %>
			        <h2><%=property %></h2>
			       
			        <% excounts[property].result.forEach(function(e){ %>
			        	<% var generatedID = property + "XXX" + e._id; %>
			        	<%   var genID = generatedID.replace(/[^A-Z0-9äöüÄÖÜß]+/ig, "_"); %>
			        	<% console.log(generatedID); %>
						<input class="uk-checkbox" type="checkbox" id="<%=genID%>" value="<%=e._id%>" name=<%=property%>> <%= e._id %> <span class="uk-text-bold" id="count">(<%= e.count %>)</span><br />
			       
			       <% }) %>


			        <% console.log("ausprägung " + excounts[property].result.count); %>


			    
			    <% } %>
			<% } %>
			 <input type="submit" value="Submit">  	    
			</form>
		</div>
		<div id="results">
		

		



		</div>

	</div>
</div>
</body>
